## The steps of this code are as follows:
1. Import the RTKLIB corrected RINEX drone data
1. Import the Timestamp.MRK file created from the UAV
1. Create a calculation dataframe to correct imagery locations based on the corrected RTKLIB file
1. Create a new export file with updated Lat, Lon, and elevation and associated errors
1. Read the original exif data from the images and append that to your export file
1. Subtract the observed snow depth at the RTK site from each elevation observation
1. Export a final .csv with the updated lat, long, elevation and pitch, roll, yaw

In [1]:
# Import numerical tools
import numpy as np
# Import pyplot for plotting
import matplotlib.pyplot as plt
#Import pandas for reading in and managing data
import pandas as pd
import math
# Magic function to make matplotlib inlineSet the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Set the date for your flight collections.; other style specs must come AFTER
%matplotlib inline
%config InlineBackend.figure_formats = {'svg',}
#Comment the above line and uncomment the line below if svg graphics are not working in your browser.
#%config InlineBackend.figure_formats = {'png', 'retina'}
import os
import glob
import os.path

## Set the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Make sure the date is in the same format as the folder that holds all your flight imagery on your computer. I store data in the form **'YYYYMMDD'**

In [2]:
# Set the date of the flight to search for the working directory for each time this code is run.
date = '20220218'

In [3]:
# Set your working directory
# Hourglass processing work should be in the folder 'HG_2022_PPK_Processing' and should be parsed out by date
# Since each date will have its own folder, the date in the working directory should be the only thing changed in
# this form.
os.chdir('/Users/f67f911/Desktop/HG_PPK/' + date)

## **Step 1:**
### Read in the already corrected RINEX file from the drone. This file should always be saved in your directory as filename_Rinex.csv so that the following code works. This is from the drone capturing positional location throughout the entirety of the flight, so there will be many more rows of data than there are pictures taken during that flight.

In [4]:
# Designate the file paths for the raw and imagery files within the processing folder
raw_files_path = 'Raw_files/'
imagery_path = 'Imagery/'

In [5]:
# Capture all of the Rinex Files
rinex_files = glob.glob(raw_files_path + '/*.csv')
# And capture all of the timestamp files
timestamp_files = glob.glob(raw_files_path + '/*.MRK')

In [6]:
# Sort the files and check to make sure each has been populated correctly
# Sorting the data allows for easier processing later in the code
rinex_files = sorted(rinex_files)
rinex_files

['Raw_files/101_0259_Rinex.csv',
 'Raw_files/101_0260_Rinex.csv',
 'Raw_files/101_0261_Rinex.csv']

In [7]:
# Sort and check the timestamp files
timestamp_files = sorted(timestamp_files)
timestamp_files

['Raw_files/101_0259_Timestamp.MRK',
 'Raw_files/101_0260_Timestamp.MRK',
 'Raw_files/101_0261_Timestamp.MRK']

In [8]:
# Create an empty list to hold the data from each .csv file
rinex_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for i in rinex_files:
        # Create a new dataframe for each file
        df = pd.read_csv(i, index_col = None, header = 0)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(i)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Rinex', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        # Append the list of df_holder with all of the values for the individual dataframes
        rinex_dfholder.append(df)
# Concat all of the data into a final dataframe
RTKLIB_record = pd.concat(rinex_dfholder, axis = 0, ignore_index = True)
RTKLIB_record

,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,2197,497336.2,45.834898,-110.934312,2314.6077,1,6,0.0072,0.0123,0.0296,0.0035,0.0175,0.0042,-3.8,41.2,101_0259
1,2197,497336.4,45.834899,-110.934312,2314.6121,1,6,0.0071,0.0121,0.0291,0.0035,0.0173,0.0042,-3.6,38.3,101_0259
2,2197,497336.6,45.834899,-110.934312,2314.6338,1,6,0.0070,0.0119,0.0287,0.0034,0.0170,0.0042,-3.4,35.5,101_0259
3,2197,497336.8,45.834899,-110.934312,2314.6481,1,6,0.0069,0.0117,0.0283,0.0034,0.0168,0.0042,-3.2,32.7,101_0259
4,2197,497337.0,45.834899,-110.934311,2314.6584,1,6,0.0068,0.0115,0.0279,0.0034,0.0165,0.0042,-3.0,29.9,101_0259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10594,2197,500153.4,45.833106,-110.937730,2551.7163,2,6,0.0130,0.0119,0.0239,-0.0069,0.0085,-0.0127,23.4,1.1,101_0261
10595,2197,500153.6,45.833111,-110.937734,2551.8962,2,6,0.0130,0.0119,0.0238,-0.0069,0.0085,-0.0127,23.6,1.1,101_0261
10596,2197,500153.8,45.833116,-110.937737,2552.0477,2,6,0.0129,0.0119,0.0230,-0.0068,0.0084,-0.0126,23.8,1.1,101_0261
10597,2197,500154.0,45.833119,-110.937740,2552.1750,2,6,0.0126,0.0117,0.0219,-0.0066,0.0082,-0.0124,24.0,1.1,101_0261
10598,2197,500154.2,45.833123,-110.937743,2552.2812,2,6,0.0128,0.0118,0.0233,-0.0067,0.0085,-0.0127,24.2,1.1,101_0261

## **Step 2:** 
### Read in the timestamp data as is from the UAV.

In [9]:
# Create an empty list to hold the data from each .csv file
timestamp_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for j in timestamp_files:
        # Create a new dataframe for each file
        df = pd.read_table(j, index_col = None, header = None)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(j)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Timestamp', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        timestamp_dfholder.append(df)
# Concat all of the data into a final dataframe
timestamp_record = pd.concat(timestamp_dfholder, axis = 0, ignore_index = True)
timestamp_record.columns = ['Photo', 'GPS_Date','% GPST','Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Lat','Lon','Height_m','std_North_m, std_East_m, std_Ele_m','RTK_status_flag','flight']
timestamp_record.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,497341.655386,[2197],"16,N","1,E","194,V","45.83487410,Lat","-110.93433842,Lon","2314.823,Ellh","0.020554, 0.016909, 0.050657","50,Q",101_0259
1,2,497345.873489,[2197],"-11,N","-26,E","193,V","45.83480535,Lat","-110.93446040,Lon","2321.336,Ellh","0.020913, 0.017590, 0.052658","50,Q",101_0259
2,3,497349.392834,[2197],"-8,N","-23,E","193,V","45.83474599,Lat","-110.93457035,Lon","2327.404,Ellh","0.020494, 0.017220, 0.051632","50,Q",101_0259
3,4,497352.939692,[2197],"-8,N","-12,E","194,V","45.83468581,Lat","-110.93467926,Lon","2333.490,Ellh","0.020693, 0.017462, 0.052179","50,Q",101_0259
4,5,497356.467374,[2197],"-9,N","-14,E","194,V","45.83462596,Lat","-110.93478995,Lon","2339.529,Ellh","0.020336, 0.016981, 0.050764","50,Q",101_0259

Note status flag values - 0: no positioning; 16: single-point positioning mode; 34: RTK floating solution; 50: RTK fixed solution. When flag of a photo is not equal to 50, it is recommended that you should not use that image in further processing.

## Clean the timestamp file to convert non-numeric text in columns to numeric

---
### When looking at our columns, we can see that there are many numbers followed by letters. We need to get rid of those numbers in order to continue with our analysis. 
### The following code removes any non-numeric value from the columns in the dataframe.

In [10]:
# Set the timestamp data to the timestamp record
timestamp = timestamp_record

In [11]:
# For each column in the timestamp dataframe
for col in timestamp:
    if col == 'flight':
        timestamp[col] = timestamp[col]
    # If the column name is '% GPST'
    elif col == '% GPST':
        # Remove the brackets around the value and change the data to type int
        timestamp[col] = timestamp[col].str.replace('[','', regex = True).str.replace(']','', regex = True).astype(int)
    # Or if the column is equal to the standard deviation column
    elif col == 'std_North_m, std_East_m, std_Ele_m':
        # Leave it alone
        timestamp[col] = timestamp[col]
    # If the data type of the column is an object
    elif timestamp.dtypes[col] == object:
        # Replace non-numeric values with a blank value
        timestamp[col] = timestamp[col].str.replace(r'\,\D+', '', regex = True).astype(float)
# View the data to make sure it has been changed correctly
timestamp.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,497341.655386,2197,16.0,1.0,194.0,45.834874,-110.934338,2314.823,"0.020554, 0.016909, 0.050657",50.0,101_0259
1,2,497345.873489,2197,-11.0,-26.0,193.0,45.834805,-110.934460,2321.336,"0.020913, 0.017590, 0.052658",50.0,101_0259
2,3,497349.392834,2197,-8.0,-23.0,193.0,45.834746,-110.934570,2327.404,"0.020494, 0.017220, 0.051632",50.0,101_0259
3,4,497352.939692,2197,-8.0,-12.0,194.0,45.834686,-110.934679,2333.490,"0.020693, 0.017462, 0.052179",50.0,101_0259
4,5,497356.467374,2197,-9.0,-14.0,194.0,45.834626,-110.934790,2339.529,"0.020336, 0.016981, 0.050764",50.0,101_0259

### Calculate camera specific positions. 
Step one is to create a calculations spreadsheet.

In [12]:
# Create a new dataframe with set columns for our future calculations
calc = pd.DataFrame(columns = ['Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Closest_Loc_ID',
                    'Timestamp_of_Closest','Closest_Lat','Closest_Lon','Closest_El','2nd_Closest_Loc_ID',
                    'Timestamp_of_2nd_Closest','2nd_Closest_Lat','2nd_Closest_Lon','2nd_Closest_El',
                    'Percent_diff_between_timestamps','Interpolated_Lat','Interpolated_Lon','Interpolated_El',
                    'Lat_Diff_deg','Lon_Diff_deg','El_diff_m','New_Lat','New_Lon','New_El']).astype(int)

### Calculate the values and input into the calc dataframe. This output will include a new latitude, longitude, and elevation.

In [13]:
# Populate the new dataframe with values from the timestamp data
calc['Northing_diff_mm'] = timestamp['Northing_diff_mm']
calc['Easting_diff_mm'] = timestamp['Easting_diff_mm']
calc['Elevation_diff_mm'] = timestamp['Elevation_diff_mm']
# Read in the data to make sure these columns have populated
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,16.0,1.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-11.0,-26.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-8.0,-23.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-8.0,-12.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-9.0,-14.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Step 3:**
### Convert the latitude and longitude difference into degrees.

In [14]:
# First lets add a column in the RTKLIB data to populate out the timestamps.
# Set a record in case we mess up this data
RTKLIB = RTKLIB_record
RTKLIB.index.name = 'ID'
RTKLIB.reset_index(inplace = True)
RTKLIB.head()

,ID,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,0,2197,497336.2,45.834898,-110.934312,2314.6077,1,6,0.0072,0.0123,0.0296,0.0035,0.0175,0.0042,-3.8,41.2,101_0259
1,1,2197,497336.4,45.834899,-110.934312,2314.6121,1,6,0.0071,0.0121,0.0291,0.0035,0.0173,0.0042,-3.6,38.3,101_0259
2,2,2197,497336.6,45.834899,-110.934312,2314.6338,1,6,0.0070,0.0119,0.0287,0.0034,0.0170,0.0042,-3.4,35.5,101_0259
3,3,2197,497336.8,45.834899,-110.934312,2314.6481,1,6,0.0069,0.0117,0.0283,0.0034,0.0168,0.0042,-3.2,32.7,101_0259
4,4,2197,497337.0,45.834899,-110.934311,2314.6584,1,6,0.0068,0.0115,0.0279,0.0034,0.0165,0.0042,-3.0,29.9,101_0259

In [15]:
# First, we need to create constant values with numbers used in further calculations
# as conversion factors
# 1 degree latitude in meters
deg_lat_m = 111111
# The latitude used. Use the first latitude value from the RTKLIB values
Lon_used = RTKLIB.iloc[0,RTKLIB.columns.get_loc('longitude(deg)')]
# 1 degree longitude in meters
deg_lon_m = abs(math.cos(np.deg2rad(Lon_used))*111111)

In [16]:
# This code calculates the latitude difference in degrees for this dataset. 
calc['Lat_Diff_deg'] = calc['Northing_diff_mm']/1000/deg_lat_m
# The longitude difference in degrees
calc['Lon_Diff_deg'] = calc['Easting_diff_mm']/1000/deg_lon_m
# The elevation difference in meters
calc['El_diff_m'] = calc['Elevation_diff_mm']/1000
# Call the head of the dataframe to make sure these calculations were done correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,16.0,1.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.440001e-07,2.518913e-08,0.194,NaN,NaN,NaN
1,-11.0,-26.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-9.900010e-08,-6.549173e-07,0.193,NaN,NaN,NaN
2,-8.0,-23.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-7.200007e-08,-5.793499e-07,0.193,NaN,NaN,NaN
3,-8.0,-12.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-7.200007e-08,-3.022695e-07,0.194,NaN,NaN,NaN
4,-9.0,-14.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.100008e-08,-3.526478e-07,0.194,NaN,NaN,NaN

### Calculate the closest latitude. To do this, we first need to calculate the timestamp that is closest.

In [17]:
# Create a merged dataframe that merges the two dataframes on the closest time values
merge = pd.merge_asof(timestamp, RTKLIB.sort_values('GPST'), left_on = 'GPS_Date', right_on = 'GPST', 
                      direction = 'nearest')
# View the new column names to be able to populate the calc dataframe
merge.columns

Index(['Photo', 'GPS_Date', '% GPST', 'Northing_diff_mm', 'Easting_diff_mm',
       'Elevation_diff_mm', 'Lat', 'Lon', 'Height_m',
       'std_North_m, std_East_m, std_Ele_m', 'RTK_status_flag', 'flight_x',
       'ID', '%', 'GPST', 'latitude(deg)', 'longitude(deg)', 'height(m)', 'Q',
       'ns', 'sdn(m)', 'sde(m)', 'sdu(m)', 'sdne(m)', 'sdeu(m)', 'sdun(m)',
       'age(s)', 'ratio', 'flight_y'],
      dtype='object')

In [18]:
# Populate columns of the calc dataframe with data from the merged dataframe
calc['Closest_Loc_ID'] = merge['ID']
calc['Timestamp_of_Closest'] = merge['GPST']
calc['Closest_Lat'] = merge['latitude(deg)']
calc['Closest_Lon'] = merge['longitude(deg)']
calc['Closest_El'] = merge['height(m)']
# Add in the flight identifier column 
calc['flight'] = merge['flight_y']
# View to make sure it has been read in correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,16.0,1.0,194.0,27,497341.6,45.834899,-110.934311,2314.7756,NaN,NaN,...,NaN,NaN,NaN,1.440001e-07,2.518913e-08,0.194,NaN,NaN,NaN,101_0259
1,-11.0,-26.0,193.0,48,497345.8,45.834831,-110.934431,2321.1665,NaN,NaN,...,NaN,NaN,NaN,-9.900010e-08,-6.549173e-07,0.193,NaN,NaN,NaN,101_0259
2,-8.0,-23.0,193.0,66,497349.4,45.834770,-110.934544,2327.3766,NaN,NaN,...,NaN,NaN,NaN,-7.200007e-08,-5.793499e-07,0.193,NaN,NaN,NaN,101_0259
3,-8.0,-12.0,194.0,84,497353.0,45.834709,-110.934654,2333.5644,NaN,NaN,...,NaN,NaN,NaN,-7.200007e-08,-3.022695e-07,0.194,NaN,NaN,NaN,101_0259
4,-9.0,-14.0,194.0,101,497356.4,45.834651,-110.934761,2339.3175,NaN,NaN,...,NaN,NaN,NaN,-8.100008e-08,-3.526478e-07,0.194,NaN,NaN,NaN,101_0259

In [19]:
# Now, we should populate the second closest values
# Add one to the closest location ID
calc['2nd_Closest_Loc_ID'] = calc['Closest_Loc_ID'] + 1
# And now populate the data from the RTKLIB file that matches that ID value
calc['Timestamp_of_2nd_Closest'] =  calc['2nd_Closest_Loc_ID'].map(RTKLIB['GPST'])
calc['2nd_Closest_Lat'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['latitude(deg)'])
calc['2nd_Closest_Lon'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['longitude(deg)'])
calc['2nd_Closest_El'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['height(m)'])
# View the dataframe to make sure it was populated correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,16.0,1.0,194.0,27,497341.6,45.834899,-110.934311,2314.7756,28,497341.8,...,NaN,NaN,NaN,1.440001e-07,2.518913e-08,0.194,NaN,NaN,NaN,101_0259
1,-11.0,-26.0,193.0,48,497345.8,45.834831,-110.934431,2321.1665,49,497346.0,...,NaN,NaN,NaN,-9.900010e-08,-6.549173e-07,0.193,NaN,NaN,NaN,101_0259
2,-8.0,-23.0,193.0,66,497349.4,45.834770,-110.934544,2327.3766,67,497349.6,...,NaN,NaN,NaN,-7.200007e-08,-5.793499e-07,0.193,NaN,NaN,NaN,101_0259
3,-8.0,-12.0,194.0,84,497353.0,45.834709,-110.934654,2333.5644,85,497353.2,...,NaN,NaN,NaN,-7.200007e-08,-3.022695e-07,0.194,NaN,NaN,NaN,101_0259
4,-9.0,-14.0,194.0,101,497356.4,45.834651,-110.934761,2339.3175,102,497356.6,...,NaN,NaN,NaN,-8.100008e-08,-3.526478e-07,0.194,NaN,NaN,NaN,101_0259

In [20]:
# Calculate the percent difference between the timestamp values
calc['Percent_diff_between_timestamps'] = (timestamp['GPS_Date'] - calc['Timestamp_of_Closest'])/(calc['Timestamp_of_2nd_Closest'] - calc['Timestamp_of_Closest'])

In [21]:
# Calculate the interpolated latitude, longitude, and elevation based on the differences in timestamp data
calc['Interpolated_Lat'] = ((calc.Closest_Lat)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lat'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_Lon'] = ((calc.Closest_Lon)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lon'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_El'] = ((calc.Closest_El)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_El'])*(calc.Percent_diff_between_timestamps)
# View to make sure it has been populated correctly
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,16.0,1.0,194.0,27,497341.6,45.834899,-110.934311,2314.7756,28,497341.8,...,45.834898,-110.934311,2314.788173,1.440001e-07,2.518913e-08,0.194,NaN,NaN,NaN,101_0259
1,-11.0,-26.0,193.0,48,497345.8,45.834831,-110.934431,2321.1665,49,497346.0,...,45.834830,-110.934433,2321.294996,-9.900010e-08,-6.549173e-07,0.193,NaN,NaN,NaN,101_0259
2,-8.0,-23.0,193.0,66,497349.4,45.834770,-110.934544,2327.3766,67,497349.6,...,45.834770,-110.934543,2327.364102,-7.200007e-08,-5.793499e-07,0.193,NaN,NaN,NaN,101_0259
3,-8.0,-12.0,194.0,84,497353.0,45.834709,-110.934654,2333.5644,85,497353.2,...,45.834710,-110.934652,2333.461213,-7.200007e-08,-3.022695e-07,0.194,NaN,NaN,NaN,101_0259
4,-9.0,-14.0,194.0,101,497356.4,45.834651,-110.934761,2339.3175,102,497356.6,...,45.834650,-110.934763,2339.428465,-8.100008e-08,-3.526478e-07,0.194,NaN,NaN,NaN,101_0259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,42.0,55.0,181.0,10528,500140.2,45.832796,-110.937425,2542.4311,10529,500140.4,...,45.832795,-110.937424,2542.478238,3.780004e-07,1.385402e-06,0.181,NaN,NaN,NaN,101_0261
558,16.0,54.0,185.0,10535,500141.6,45.832819,-110.937451,2541.1403,10536,500141.8,...,45.832820,-110.937452,2541.160101,1.440001e-07,1.360213e-06,0.185,NaN,NaN,NaN,101_0261
559,36.0,67.0,179.0,10555,500145.6,45.832913,-110.937539,2544.6188,10556,500145.8,...,45.832912,-110.937538,2544.567506,3.240003e-07,1.687671e-06,0.179,NaN,NaN,NaN,101_0261
560,28.0,58.0,183.0,10572,500149.0,45.832997,-110.937623,2547.7738,10573,500149.2,...,45.833000,-110.937625,2547.859364,2.520003e-07,1.460969e-06,0.183,NaN,NaN,NaN,101_0261
561,30.0,62.0,181.0,10590,500152.6,45.833087,-110.937714,2551.0542,10591,500152.8,...,45.833088,-110.937716,2551.091213,2.700003e-07,1.561726e-06,0.181,NaN,NaN,NaN,101_0261

In [22]:
# Calculate the new latitude, longitude, and elevation
calc['New_Lat'] = calc['Interpolated_Lat'] + calc['Lat_Diff_deg']
calc['New_Lon'] = calc['Interpolated_Lon'] + calc['Lon_Diff_deg']
calc['New_El'] = calc['Interpolated_El'] + calc['El_diff_m']
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,16.0,1.0,194.0,27,497341.6,45.834899,-110.934311,2314.7756,28,497341.8,...,45.834898,-110.934311,2314.788173,1.440001e-07,2.518913e-08,0.194,45.834898,-110.934311,2314.982173,101_0259
1,-11.0,-26.0,193.0,48,497345.8,45.834831,-110.934431,2321.1665,49,497346.0,...,45.834830,-110.934433,2321.294996,-9.900010e-08,-6.549173e-07,0.193,45.834830,-110.934434,2321.487996,101_0259
2,-8.0,-23.0,193.0,66,497349.4,45.834770,-110.934544,2327.3766,67,497349.6,...,45.834770,-110.934543,2327.364102,-7.200007e-08,-5.793499e-07,0.193,45.834770,-110.934544,2327.557102,101_0259
3,-8.0,-12.0,194.0,84,497353.0,45.834709,-110.934654,2333.5644,85,497353.2,...,45.834710,-110.934652,2333.461213,-7.200007e-08,-3.022695e-07,0.194,45.834710,-110.934652,2333.655213,101_0259
4,-9.0,-14.0,194.0,101,497356.4,45.834651,-110.934761,2339.3175,102,497356.6,...,45.834650,-110.934763,2339.428465,-8.100008e-08,-3.526478e-07,0.194,45.834650,-110.934763,2339.622465,101_0259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,42.0,55.0,181.0,10528,500140.2,45.832796,-110.937425,2542.4311,10529,500140.4,...,45.832795,-110.937424,2542.478238,3.780004e-07,1.385402e-06,0.181,45.832795,-110.937423,2542.659238,101_0261
558,16.0,54.0,185.0,10535,500141.6,45.832819,-110.937451,2541.1403,10536,500141.8,...,45.832820,-110.937452,2541.160101,1.440001e-07,1.360213e-06,0.185,45.832820,-110.937451,2541.345101,101_0261
559,36.0,67.0,179.0,10555,500145.6,45.832913,-110.937539,2544.6188,10556,500145.8,...,45.832912,-110.937538,2544.567506,3.240003e-07,1.687671e-06,0.179,45.832912,-110.937536,2544.746506,101_0261
560,28.0,58.0,183.0,10572,500149.0,45.832997,-110.937623,2547.7738,10573,500149.2,...,45.833000,-110.937625,2547.859364,2.520003e-07,1.460969e-06,0.183,45.833000,-110.937624,2548.042364,101_0261
561,30.0,62.0,181.0,10590,500152.6,45.833087,-110.937714,2551.0542,10591,500152.8,...,45.833088,-110.937716,2551.091213,2.700003e-07,1.561726e-06,0.181,45.833088,-110.937714,2551.272213,101_0261

## **Step 4:**
### Create a new dataframe for export that can be read into Agisoft

In [23]:
# Create an export dataframe that contains the new locational data
location_export = calc[['New_Lat','New_Lon','New_El','Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm']]
# Reset the index to create a column to hold image ID data
location_export = location_export.reset_index()
# Rename the index column with a descriptive name and then incremently increase the values to match the collected imagery
location_export = location_export.rename(columns = {'index':'FlightID'})
# location_export['PhotoID'] = RTKLIB['flight']
location_export['FlightID'] = calc['flight'].astype(int)
location_export['Lat_diff_m'] = location_export['Northing_diff_mm']/1000
location_export['Lon_diff_m'] = location_export['Easting_diff_mm']/1000
location_export['El_diff_m'] = location_export['Elevation_diff_mm']/1000
location_export = location_export.drop(columns = ['Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm'])
# View the data to make sure that it has been read in correctly.                                          
location_export

,FlightID,New_Lat,New_Lon,New_El,Lat_diff_m,Lon_diff_m,El_diff_m
0,1010259,45.834898,-110.934311,2314.982173,0.016,0.001,0.194
1,1010259,45.834830,-110.934434,2321.487996,-0.011,-0.026,0.193
2,1010259,45.834770,-110.934544,2327.557102,-0.008,-0.023,0.193
3,1010259,45.834710,-110.934652,2333.655213,-0.008,-0.012,0.194
4,1010259,45.834650,-110.934763,2339.622465,-0.009,-0.014,0.194
...,...,...,...,...,...,...,...
557,1010261,45.832795,-110.937423,2542.659238,0.042,0.055,0.181
558,1010261,45.832820,-110.937451,2541.345101,0.016,0.054,0.185
559,1010261,45.832912,-110.937536,2544.746506,0.036,0.067,0.179
560,1010261,45.833000,-110.937624,2548.042364,0.028,0.058,0.183
561,1010261,45.833088,-110.937714,2551.272213,0.030,0.062,0.181

## **Step 5:**
### Now, we need to call the original photo EXIF information to adjust pitch, roll, and yaw.

In [24]:
# Import exiftoolhelper from the package exiftool
from exiftool import ExifToolHelper

In [25]:
# Get the unique value for the flights and add the folder name to a list
imagery_folders = RTKLIB['flight'].unique().tolist()
imagery_folders

['101_0259', '101_0260', '101_0261']

In [26]:
# Create an empty list to hold the imagery names
imagery_files = []
# for each path in the imagery folders of interest, read in the .jpgs
for path in imagery_folders:
    # Append the empty list to create a list of lists
    imagery_files.append(glob.glob(imagery_path + path + '/*.JPG'))

In [27]:
# Create a loop to turn the list of lists generated in the above code to a flat list
imagery_flat_list = []
# For each sublist in the above list of lists, append the item of that list to a singular list
for sublist in imagery_files:
    for item in sublist:
        imagery_flat_list.append(item)

In [28]:
# Create an empty list to hold the exif_data
exif_data = []
# With the ExifToolHelper, get tag information for each image
with ExifToolHelper() as et:
    # Specify what tag information you would like to capture
    for d in et.get_tags(imagery_flat_list, tags = ['Pitch','Roll','Yaw']):
        # append the list 
        exif_data.append(d)
        # Create a dataframe from the list values 
        exif_df = pd.DataFrame.from_dict(exif_data)

In [29]:
exif_df = exif_df.sort_values(by = 'SourceFile')
exif_df = exif_df.reset_index(drop = True)
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw
0,Imagery/101_0259/101_0259_0001.JPG,-13.9,-3.700000,-124.900002
1,Imagery/101_0259/101_0259_0002.JPG,-2.1,-1.800000,-128.100006
2,Imagery/101_0259/101_0259_0003.JPG,-3.8,-2.200000,-128.500000
3,Imagery/101_0259/101_0259_0004.JPG,-6.2,-0.400000,-127.800003
4,Imagery/101_0259/101_0259_0005.JPG,-5.6,-0.300000,-127.699997
...,...,...,...,...
557,Imagery/101_0261/101_0261_0214.JPG,-8.5,-21.500000,-31.100000
558,Imagery/101_0261/101_0261_0215.JPG,-10.9,-16.500000,-32.500000
559,Imagery/101_0261/101_0261_0216.JPG,-13.1,-23.500000,-32.799999
560,Imagery/101_0261/101_0261_0217.JPG,-13.9,-20.299999,-32.299999
561,Imagery/101_0261/101_0261_0218.JPG,-13.5,-20.900000,-32.599998

In [30]:
file_names = []
for f in exif_df['SourceFile']:
    name = os.path.basename(f)
    file_names.append(name)
exif_df['file_names'] = file_names
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw,file_names
0,Imagery/101_0259/101_0259_0001.JPG,-13.9,-3.700000,-124.900002,101_0259_0001.JPG
1,Imagery/101_0259/101_0259_0002.JPG,-2.1,-1.800000,-128.100006,101_0259_0002.JPG
2,Imagery/101_0259/101_0259_0003.JPG,-3.8,-2.200000,-128.500000,101_0259_0003.JPG
3,Imagery/101_0259/101_0259_0004.JPG,-6.2,-0.400000,-127.800003,101_0259_0004.JPG
4,Imagery/101_0259/101_0259_0005.JPG,-5.6,-0.300000,-127.699997,101_0259_0005.JPG
...,...,...,...,...,...
557,Imagery/101_0261/101_0261_0214.JPG,-8.5,-21.500000,-31.100000,101_0261_0214.JPG
558,Imagery/101_0261/101_0261_0215.JPG,-10.9,-16.500000,-32.500000,101_0261_0215.JPG
559,Imagery/101_0261/101_0261_0216.JPG,-13.1,-23.500000,-32.799999,101_0261_0216.JPG
560,Imagery/101_0261/101_0261_0217.JPG,-13.9,-20.299999,-32.299999,101_0261_0217.JPG
561,Imagery/101_0261/101_0261_0218.JPG,-13.5,-20.900000,-32.599998,101_0261_0218.JPG

In [31]:
final_export = pd.merge(location_export, exif_df, left_index = True, right_index = True)
final_export

,FlightID,New_Lat,New_Lon,New_El,Lat_diff_m,Lon_diff_m,El_diff_m,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw,file_names
0,1010259,45.834898,-110.934311,2314.982173,0.016,0.001,0.194,Imagery/101_0259/101_0259_0001.JPG,-13.9,-3.700000,-124.900002,101_0259_0001.JPG
1,1010259,45.834830,-110.934434,2321.487996,-0.011,-0.026,0.193,Imagery/101_0259/101_0259_0002.JPG,-2.1,-1.800000,-128.100006,101_0259_0002.JPG
2,1010259,45.834770,-110.934544,2327.557102,-0.008,-0.023,0.193,Imagery/101_0259/101_0259_0003.JPG,-3.8,-2.200000,-128.500000,101_0259_0003.JPG
3,1010259,45.834710,-110.934652,2333.655213,-0.008,-0.012,0.194,Imagery/101_0259/101_0259_0004.JPG,-6.2,-0.400000,-127.800003,101_0259_0004.JPG
4,1010259,45.834650,-110.934763,2339.622465,-0.009,-0.014,0.194,Imagery/101_0259/101_0259_0005.JPG,-5.6,-0.300000,-127.699997,101_0259_0005.JPG
...,...,...,...,...,...,...,...,...,...,...,...,...
557,1010261,45.832795,-110.937423,2542.659238,0.042,0.055,0.181,Imagery/101_0261/101_0261_0214.JPG,-8.5,-21.500000,-31.100000,101_0261_0214.JPG
558,1010261,45.832820,-110.937451,2541.345101,0.016,0.054,0.185,Imagery/101_0261/101_0261_0215.JPG,-10.9,-16.500000,-32.500000,101_0261_0215.JPG
559,1010261,45.832912,-110.937536,2544.746506,0.036,0.067,0.179,Imagery/101_0261/101_0261_0216.JPG,-13.1,-23.500000,-32.799999,101_0261_0216.JPG
560,1010261,45.833000,-110.937624,2548.042364,0.028,0.058,0.183,Imagery/101_0261/101_0261_0217.JPG,-13.9,-20.299999,-32.299999,101_0261_0217.JPG
561,1010261,45.833088,-110.937714,2551.272213,0.030,0.062,0.181,Imagery/101_0261/101_0261_0218.JPG,-13.5,-20.900000,-32.599998,101_0261_0218.JPG

In [32]:
final_export = final_export.drop(columns = ['SourceFile','FlightID'])
final_export = final_export.rename(columns = {'MakerNotes:Pitch':'Pitch','MakerNotes:Roll':'Roll','MakerNotes:Yaw':'Yaw'})
final_export = final_export.set_index('file_names')

In [33]:
final_export = final_export.sort_values(by = 'file_names')
final_export

,New_Lat,New_Lon,New_El,Lat_diff_m,Lon_diff_m,El_diff_m,Pitch,Roll,Yaw
file_names,,,,,,,,,
101_0259_0001.JPG,45.834898,-110.934311,2314.982173,0.016,0.001,0.194,-13.9,-3.700000,-124.900002
101_0259_0002.JPG,45.834830,-110.934434,2321.487996,-0.011,-0.026,0.193,-2.1,-1.800000,-128.100006
101_0259_0003.JPG,45.834770,-110.934544,2327.557102,-0.008,-0.023,0.193,-3.8,-2.200000,-128.500000
101_0259_0004.JPG,45.834710,-110.934652,2333.655213,-0.008,-0.012,0.194,-6.2,-0.400000,-127.800003
101_0259_0005.JPG,45.834650,-110.934763,2339.622465,-0.009,-0.014,0.194,-5.6,-0.300000,-127.699997
...,...,...,...,...,...,...,...,...,...
101_0261_0214.JPG,45.832795,-110.937423,2542.659238,0.042,0.055,0.181,-8.5,-21.500000,-31.100000
101_0261_0215.JPG,45.832820,-110.937451,2541.345101,0.016,0.054,0.185,-10.9,-16.500000,-32.500000
101_0261_0216.JPG,45.832912,-110.937536,2544.746506,0.036,0.067,0.179,-13.1,-23.500000,-32.799999
101_0261_0217.JPG,45.833000,-110.937624,2548.042364,0.028,0.058,0.183,-13.9,-20.299999,-32.299999
101_0261_0218.JPG,45.833088,-110.937714,2551.272213,0.030,0.062,0.181,-13.5,-20.900000,-32.599998

## **Step 6:**
### Adjust the elevation data to account for differences in Snow Depth between flight dates

In [34]:
# Read in the .csv file with all of the RTK Heights for the season
rtk_height = pd.read_csv('/Users/f67f911/Desktop/HG_PPK/RTK_Base_Height.csv')
# View the file
rtk_height

       Date  Snow Depth (cm)  Height to RTK (cm)  Corrected Height
0  20220212               95                 220                40
1  20220218              140                 245                65
2  20220325              159                 253                73
3  20220505              170                 270                90
4  20220510              179                 261                81
5  20220517               82                 168               -12

In [ ]:
# If the date you are processing for is in the rtk_height file, do the next block of code. 
# If not, skip to the next 
# Capture the value for the height diffences for the date of interest
diff_height = rtk_height[rtk_height['Date'] == int(date)]
# Call to make sure it was captured correctly
# If no data is displayed, it may be because no RTK Height information was captured that day
diff_height

In [ ]:
# Calculate the corrected elevation
corrected_el = (final_export['New_El'] - int(diff_height['Corrected Height'])/100)
# Populate the new elevation with the corrected el
final_export['New_El'] = corrected_el

---
**STOP**
Only run the following code if no height correction is provided!
---

In [35]:
# Run this code if no corrected height is provided
corrected_el = final_export['New_El']

In [36]:
# View the final export and if it looks correct, proceed to download!
final_export

,New_Lat,New_Lon,New_El,Lat_diff_m,Lon_diff_m,El_diff_m,Pitch,Roll,Yaw
file_names,,,,,,,,,
101_0259_0001.JPG,45.834898,-110.934311,2314.982173,0.016,0.001,0.194,-13.9,-3.700000,-124.900002
101_0259_0002.JPG,45.834830,-110.934434,2321.487996,-0.011,-0.026,0.193,-2.1,-1.800000,-128.100006
101_0259_0003.JPG,45.834770,-110.934544,2327.557102,-0.008,-0.023,0.193,-3.8,-2.200000,-128.500000
101_0259_0004.JPG,45.834710,-110.934652,2333.655213,-0.008,-0.012,0.194,-6.2,-0.400000,-127.800003
101_0259_0005.JPG,45.834650,-110.934763,2339.622465,-0.009,-0.014,0.194,-5.6,-0.300000,-127.699997
...,...,...,...,...,...,...,...,...,...
101_0261_0214.JPG,45.832795,-110.937423,2542.659238,0.042,0.055,0.181,-8.5,-21.500000,-31.100000
101_0261_0215.JPG,45.832820,-110.937451,2541.345101,0.016,0.054,0.185,-10.9,-16.500000,-32.500000
101_0261_0216.JPG,45.832912,-110.937536,2544.746506,0.036,0.067,0.179,-13.1,-23.500000,-32.799999
101_0261_0217.JPG,45.833000,-110.937624,2548.042364,0.028,0.058,0.183,-13.9,-20.299999,-32.299999
101_0261_0218.JPG,45.833088,-110.937714,2551.272213,0.030,0.062,0.181,-13.5,-20.900000,-32.599998

## **Step 7:**
### Export the final cleaned dataframe to a .csv file to be used in Agisoft

In [ ]:
#final_export.to_csv(date + 'Corrected_Imagery_Locs.csv')
final_export.to_csv(date + 'NoHeightChange.csv')