## The steps of the code are as follows:
1. Import the RTKLIB corrected Rinex drone data. 
2. Import the Timestamp.MRK file from the UAV.
3. Calculate the camera specific positions from these two files.
4. Scrape the EXIF-data from the original photos to append the pitch, roll, and yaw to the location file. 
    This data can then be used to import into Agisoft.

In [39]:
# Import numerical tools
import numpy as np
# Import pyplot for plotting
import matplotlib.pyplot as plt
#Import pandas for reading in and managing data
import pandas as pd
import math
# Magic function to make matplotlib inlineSet the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Set the date for your flight collections.; other style specs must come AFTER
%matplotlib inline
%config InlineBackend.figure_formats = {'svg',}
#Comment the above line and uncomment the line below if svg graphics are not working in your browser.
#%config InlineBackend.figure_formats = {'png', 'retina'}
import os
import glob
import os.path

## Set the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Set the date for your flight collections.

In [313]:
# Set the date of the flight to search for the working directory for each time this code is run.
date = '20220517'

In [314]:
# Set your working directory
# Hourglass processing work should be in the folder 'HG_2022_PPK_Processing' and should be parsed out by date
# Since each date will have its own folder, the date in the working directory should be the only thing changed in
# this form.
os.chdir('/Users/f67f911/Desktop/HG_PPK/' + date)

## Step 1: Read in the already corrected RINEX file from the drone. This file should always be saved in your directory as filename_Rinex.csv so that the following code works. This is from the drone capturing positional location throughout the entirety of the flight, so there will be many more rows of data than there are pictures taken during that flight.

In [315]:
# Designate the file paths for the raw and imagery files within the processing folder
raw_files_path = 'Raw_files/'
imagery_path = 'Imagery/'

In [316]:
# Capture all of the Rinex Files
rinex_files = glob.glob(raw_files_path + '/*.csv')
timestamp_files = glob.glob(raw_files_path + '/*.MRK')

In [317]:
# Sort the files and check to make sure each has been populated correctly
rinex_files = sorted(rinex_files)
rinex_files

['Raw_files/101_0347_Rinex.csv',
 'Raw_files/101_0348_Rinex.csv',
 'Raw_files/101_0349_Rinex.csv']

In [318]:
# Sort and check the timestamp files
timestamp_files = sorted(timestamp_files)
timestamp_files

['Raw_files/101_0347_Timestamp.MRK',
 'Raw_files/101_0348_Timestamp.MRK',
 'Raw_files/101_0349_Timestamp.MRK']

In [319]:
# Create an empty list to hold the data from each .csv file
rinex_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for i in rinex_files:
        # Create a new dataframe for each file
        df = pd.read_csv(i, index_col = None, header = 0)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(i)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Rinex', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        # Append the list of df_holder with all of the values for the individual dataframes
        rinex_dfholder.append(df)
# Concat all of the data into a final dataframe
RTKLIB_record = pd.concat(rinex_dfholder, axis = 0, ignore_index = True)
RTKLIB_record

,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,2210,227423.0,45.835108,-110.932634,2316.7597,1,6,0.0126,0.0099,0.0255,-0.0008,0.0115,-0.0098,-7.0,868.9,101_0347
1,2210,227423.2,45.835107,-110.932634,2316.7665,1,6,0.0124,0.0097,0.0250,-0.0007,0.0113,-0.0097,-6.8,868.2,101_0347
2,2210,227423.4,45.835107,-110.932634,2316.7704,1,6,0.0122,0.0095,0.0245,-0.0006,0.0111,-0.0095,-6.6,868.3,101_0347
3,2210,227423.6,45.835107,-110.932634,2316.7773,1,6,0.0120,0.0094,0.0241,-0.0005,0.0108,-0.0094,-6.4,867.6,101_0347
4,2210,227423.8,45.835107,-110.932634,2316.7714,1,6,0.0117,0.0092,0.0237,-0.0004,0.0106,-0.0092,-6.2,867.4,101_0347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,2210,230881.2,45.834174,-110.934175,2353.3124,1,7,0.0073,0.0068,0.0121,-0.0055,0.0054,-0.0047,1.2,6.9,101_0349
10871,2210,230881.4,45.834177,-110.934168,2353.0696,1,7,0.0073,0.0068,0.0121,-0.0056,0.0054,-0.0047,1.4,9.2,101_0349
10872,2210,230881.6,45.834180,-110.934163,2352.8546,1,7,0.0072,0.0067,0.0117,-0.0054,0.0051,-0.0044,1.6,11.4,101_0349
10873,2210,230881.8,45.834182,-110.934158,2352.6817,1,7,0.0059,0.0056,0.0089,-0.0041,0.0036,-0.0030,1.8,13.5,101_0349
10874,2210,230882.0,45.834183,-110.934155,2352.5498,1,7,0.0054,0.0050,0.0090,-0.0041,0.0040,-0.0034,2.0,15.6,101_0349

## Step 2: Read in the timestamp data as is from the UAV.

In [320]:
# Create an empty list to hold the data from each .csv file
timestamp_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for j in timestamp_files:
        # Create a new dataframe for each file
        df = pd.read_table(j, index_col = None, header = None)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(j)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Timestamp', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        timestamp_dfholder.append(df)
# Concat all of the data into a final dataframe
timestamp_record = pd.concat(timestamp_dfholder, axis = 0, ignore_index = True)
timestamp_record.columns = ['Photo', 'GPS_Date','% GPST','Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Lat','Lon','Height_m','std_North_m, std_East_m, std_Ele_m','RTK_status_flag','flight']
timestamp_record.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,227428.920659,[2210],"-15,N","0,E","194,V","45.83505827,Lat","-110.93268700,Lon","2317.289,Ellh","0.015811, 0.021801, 0.039066","50,Q",101_0347
1,2,227433.138632,[2210],"18,N","-22,E","192,V","45.83513128,Lat","-110.93276015,Lon","2307.843,Ellh","0.015077, 0.020651, 0.036767","50,Q",101_0347
2,3,227436.691543,[2210],"17,N","-34,E","190,V","45.83519659,Lat","-110.93282314,Lon","2299.063,Ellh","0.014612, 0.020288, 0.036223","50,Q",101_0347
3,4,227438.183779,[2210],"22,N","-28,E","190,V","45.83520786,Lat","-110.93283621,Lon","2297.334,Ellh","0.014526, 0.020045, 0.036098","50,Q",101_0347
4,5,227442.839839,[2210],"3,N","2,E","194,V","45.83522582,Lat","-110.93285434,Lon","2309.688,Ellh","0.014693, 0.020302, 0.036159","50,Q",101_0347

In [321]:
# Create a new dataframe to hold the timestamp record data in case we mess up in the future
timestamp = timestamp_record

### Note status flag values - 0: no positioning; 16: single-point positioning mode; 34: RTK floating solution; 50: RTK fixed solution. When flag of a photo is not equal to 50, it is recommended that you should not use that image in further processing.

## Clean the timestamp file to convert non-numeric text in columns to numeric

## When looking at our columns, we can see that there are many numbers followed by letters. We need to get rid of those numbers in order to continue with our analysis. 
### The following code removes any non-numeric value from the columns in the dataframe.

In [322]:
# For each column in the timestamp dataframe
for col in timestamp:
    if col == 'flight':
        timestamp[col] = timestamp[col]
    # If the column name is '% GPST'
    elif col == '% GPST':
        # Remove the brackets around the value and change the data to type int
        timestamp[col] = timestamp[col].str.replace('[','', regex = True).str.replace(']','', regex = True).astype(int)
    # Or if the column is equal to the standard deviation column
    elif col == 'std_North_m, std_East_m, std_Ele_m':
        # Leave it alone
        timestamp[col] = timestamp[col]
    # If the data type of the column is an object
    elif timestamp.dtypes[col] == object:
        # Replace non-numeric values with a blank value
        timestamp[col] = timestamp[col].str.replace(r'\,\D+', '', regex = True).astype(float)
# View the data to make sure it has been changed correctly
timestamp.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,227428.920659,2210,-15.0,0.0,194.0,45.835058,-110.932687,2317.289,"0.015811, 0.021801, 0.039066",50.0,101_0347
1,2,227433.138632,2210,18.0,-22.0,192.0,45.835131,-110.932760,2307.843,"0.015077, 0.020651, 0.036767",50.0,101_0347
2,3,227436.691543,2210,17.0,-34.0,190.0,45.835197,-110.932823,2299.063,"0.014612, 0.020288, 0.036223",50.0,101_0347
3,4,227438.183779,2210,22.0,-28.0,190.0,45.835208,-110.932836,2297.334,"0.014526, 0.020045, 0.036098",50.0,101_0347
4,5,227442.839839,2210,3.0,2.0,194.0,45.835226,-110.932854,2309.688,"0.014693, 0.020302, 0.036159",50.0,101_0347

### Calculate camera specific positions. 
Step one is to create a calculations spreadsheet.

In [323]:
# Create a new dataframe with set columns for our future calculations
calc = pd.DataFrame(columns = ['Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Closest_Loc_ID',
                    'Timestamp_of_Closest','Closest_Lat','Closest_Lon','Closest_El','2nd_Closest_Loc_ID',
                    'Timestamp_of_2nd_Closest','2nd_Closest_Lat','2nd_Closest_Lon','2nd_Closest_El',
                    'Percent_diff_between_timestamps','Interpolated_Lat','Interpolated_Lon','Interpolated_El',
                    'Lat_Diff_deg','Lon_Diff_deg','El_diff_m','New_Lat','New_Lon','New_El']).astype(int)

### Calculate the values and input into the calc dataframe. This output will include a new latitude, longitude, and elevation.

In [324]:
# Populate the new dataframe with values from the timestamp data
calc['Northing_diff_mm'] = timestamp['Northing_diff_mm']
calc['Easting_diff_mm'] = timestamp['Easting_diff_mm']
calc['Elevation_diff_mm'] = timestamp['Elevation_diff_mm']
# Read in the data to make sure these columns have populated
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,-15.0,0.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18.0,-22.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17.0,-34.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22.0,-28.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,2.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 3: Convert the latitude difference into degrees.

In [325]:
# First lets add a column in the RTKLIB data to populate out the timestamps.
# Set a record in case we mess up this data
RTKLIB = RTKLIB_record
RTKLIB.index.name = 'ID'
RTKLIB.reset_index(inplace = True)
RTKLIB.head()

,ID,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,0,2210,227423.0,45.835108,-110.932634,2316.7597,1,6,0.0126,0.0099,0.0255,-0.0008,0.0115,-0.0098,-7.0,868.9,101_0347
1,1,2210,227423.2,45.835107,-110.932634,2316.7665,1,6,0.0124,0.0097,0.0250,-0.0007,0.0113,-0.0097,-6.8,868.2,101_0347
2,2,2210,227423.4,45.835107,-110.932634,2316.7704,1,6,0.0122,0.0095,0.0245,-0.0006,0.0111,-0.0095,-6.6,868.3,101_0347
3,3,2210,227423.6,45.835107,-110.932634,2316.7773,1,6,0.0120,0.0094,0.0241,-0.0005,0.0108,-0.0094,-6.4,867.6,101_0347
4,4,2210,227423.8,45.835107,-110.932634,2316.7714,1,6,0.0117,0.0092,0.0237,-0.0004,0.0106,-0.0092,-6.2,867.4,101_0347

In [326]:
# First, we need to create constant values with numbers used in further calculations
# as conversion factors
# 1 degree latitude in meters
deg_lat_m = 111111
# The latitude used. Use the first latitude value from the RTKLIB values
Lon_used = RTKLIB.iloc[0,RTKLIB.columns.get_loc('longitude(deg)')]
# 1 degree longitude in meters
deg_lon_m = abs(math.cos(np.deg2rad(Lon_used))*111111)

In [327]:
# This code calculates the latitude difference in degrees for this dataset. 
calc['Lat_Diff_deg'] = calc['Northing_diff_mm']/1000/deg_lat_m
# The longitude difference in degrees
calc['Lon_Diff_deg'] = calc['Easting_diff_mm']/1000/deg_lon_m
# The elevation difference in meters
calc['El_diff_m'] = calc['Elevation_diff_mm']/1000
# Call the head of the dataframe to make sure these calculations were done correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,-15.0,0.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.350001e-07,0.000000e+00,0.194,NaN,NaN,NaN
1,18.0,-22.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.620002e-07,-5.542032e-07,0.192,NaN,NaN,NaN
2,17.0,-34.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.530002e-07,-8.564959e-07,0.190,NaN,NaN,NaN
3,22.0,-28.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.980002e-07,-7.053495e-07,0.190,NaN,NaN,NaN
4,3.0,2.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.700003e-08,5.038211e-08,0.194,NaN,NaN,NaN

### Calculate the closest latitude. To do this, we first need to calculate the timestamp that is closest.

In [328]:
# Create a merged dataframe that merges the two dataframes on the closest time values
merge = pd.merge_asof(timestamp, RTKLIB.sort_values('GPST'), left_on = 'GPS_Date', right_on = 'GPST', 
                      direction = 'nearest')
# View the new column names to be able to populate the calc dataframe
merge.columns

Index(['Photo', 'GPS_Date', '% GPST', 'Northing_diff_mm', 'Easting_diff_mm',
       'Elevation_diff_mm', 'Lat', 'Lon', 'Height_m',
       'std_North_m, std_East_m, std_Ele_m', 'RTK_status_flag', 'flight_x',
       'ID', '%', 'GPST', 'latitude(deg)', 'longitude(deg)', 'height(m)', 'Q',
       'ns', 'sdn(m)', 'sde(m)', 'sdu(m)', 'sdne(m)', 'sdeu(m)', 'sdun(m)',
       'age(s)', 'ratio', 'flight_y'],
      dtype='object')

In [329]:
# Populate columns of the calc dataframe with data from the merged dataframe
calc['Closest_Loc_ID'] = merge['ID']
calc['Timestamp_of_Closest'] = merge['GPST']
calc['Closest_Lat'] = merge['latitude(deg)']
calc['Closest_Lon'] = merge['longitude(deg)']
calc['Closest_El'] = merge['height(m)']
# Add in the flight identifier column 
calc['flight'] = merge['flight_y']
# View to make sure it has been read in correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-15.0,0.0,194.0,30,227429.0,45.835105,-110.932634,2316.6822,NaN,NaN,...,NaN,NaN,NaN,-1.350001e-07,0.000000e+00,0.194,NaN,NaN,NaN,101_0347
1,18.0,-22.0,192.0,51,227433.2,45.835179,-110.932708,2307.0982,NaN,NaN,...,NaN,NaN,NaN,1.620002e-07,-5.542032e-07,0.192,NaN,NaN,NaN,101_0347
2,17.0,-34.0,190.0,68,227436.6,45.835241,-110.932767,2298.7367,NaN,NaN,...,NaN,NaN,NaN,1.530002e-07,-8.564959e-07,0.190,NaN,NaN,NaN,101_0347
3,22.0,-28.0,190.0,76,227438.2,45.835254,-110.932783,2296.7155,NaN,NaN,...,NaN,NaN,NaN,1.980002e-07,-7.053495e-07,0.190,NaN,NaN,NaN,101_0347
4,3.0,2.0,194.0,99,227442.8,45.835272,-110.932801,2309.1618,NaN,NaN,...,NaN,NaN,NaN,2.700003e-08,5.038211e-08,0.194,NaN,NaN,NaN,101_0347

In [330]:
# Now, we should populate the second closest values
# Add one to the closest location ID
calc['2nd_Closest_Loc_ID'] = calc['Closest_Loc_ID'] + 1
# And now populate the data from the RTKLIB file that matches that ID value
calc['Timestamp_of_2nd_Closest'] =  calc['2nd_Closest_Loc_ID'].map(RTKLIB['GPST'])
calc['2nd_Closest_Lat'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['latitude(deg)'])
calc['2nd_Closest_Lon'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['longitude(deg)'])
calc['2nd_Closest_El'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['height(m)'])
# View the dataframe to make sure it was populated correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-15.0,0.0,194.0,30,227429.0,45.835105,-110.932634,2316.6822,31,227429.2,...,NaN,NaN,NaN,-1.350001e-07,0.000000e+00,0.194,NaN,NaN,NaN,101_0347
1,18.0,-22.0,192.0,51,227433.2,45.835179,-110.932708,2307.0982,52,227433.4,...,NaN,NaN,NaN,1.620002e-07,-5.542032e-07,0.192,NaN,NaN,NaN,101_0347
2,17.0,-34.0,190.0,68,227436.6,45.835241,-110.932767,2298.7367,69,227436.8,...,NaN,NaN,NaN,1.530002e-07,-8.564959e-07,0.190,NaN,NaN,NaN,101_0347
3,22.0,-28.0,190.0,76,227438.2,45.835254,-110.932783,2296.7155,77,227438.4,...,NaN,NaN,NaN,1.980002e-07,-7.053495e-07,0.190,NaN,NaN,NaN,101_0347
4,3.0,2.0,194.0,99,227442.8,45.835272,-110.932801,2309.1618,100,227443.0,...,NaN,NaN,NaN,2.700003e-08,5.038211e-08,0.194,NaN,NaN,NaN,101_0347

In [331]:
# Calculate the percent difference between the timestamp values
calc['Percent_diff_between_timestamps'] = (timestamp['GPS_Date'] - calc['Timestamp_of_Closest'])/(calc['Timestamp_of_2nd_Closest'] - calc['Timestamp_of_Closest'])

In [332]:
# Calculate the interpolated latitude, longitude, and elevation based on the differences in timestamp data
calc['Interpolated_Lat'] = ((calc.Closest_Lat)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lat'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_Lon'] = ((calc.Closest_Lon)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lon'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_El'] = ((calc.Closest_El)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_El'])*(calc.Percent_diff_between_timestamps)
# View to make sure it has been populated correctly
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-15.0,0.0,194.0,30,227429.0,45.835105,-110.932634,2316.6822,31,227429.2,...,45.835105,-110.932633,2316.740000,-1.350001e-07,0.000000e+00,0.194,NaN,NaN,NaN,101_0347
1,18.0,-22.0,192.0,51,227433.2,45.835179,-110.932708,2307.0982,52,227433.4,...,45.835178,-110.932707,2307.251620,1.620002e-07,-5.542032e-07,0.192,NaN,NaN,NaN,101_0347
2,17.0,-34.0,190.0,68,227436.6,45.835241,-110.932767,2298.7367,69,227436.8,...,45.835243,-110.932769,2298.505508,1.530002e-07,-8.564959e-07,0.190,NaN,NaN,NaN,101_0347
3,22.0,-28.0,190.0,76,227438.2,45.835254,-110.932783,2296.7155,77,227438.4,...,45.835254,-110.932783,2296.700155,1.980002e-07,-7.053495e-07,0.190,NaN,NaN,NaN,101_0347
4,3.0,2.0,194.0,99,227442.8,45.835272,-110.932801,2309.1618,100,227443.0,...,45.835272,-110.932801,2309.137040,2.700003e-08,5.038211e-08,0.194,NaN,NaN,NaN,101_0347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,21.0,5.0,194.0,10792,230865.6,45.833893,-110.934699,2373.0726,10793,230865.8,...,45.833894,-110.934698,2373.053831,1.890002e-07,1.259553e-07,0.194,NaN,NaN,NaN,101_0349
559,18.0,5.0,194.0,10810,230869.2,45.833958,-110.934577,2368.5360,10811,230869.4,...,45.833957,-110.934579,2368.605204,1.620002e-07,1.259553e-07,0.194,NaN,NaN,NaN,101_0349
560,20.0,7.0,194.0,10827,230872.6,45.834019,-110.934464,2363.7748,10828,230872.8,...,45.834021,-110.934461,2363.660171,1.800002e-07,1.763374e-07,0.194,NaN,NaN,NaN,101_0349
561,21.0,5.0,193.0,10845,230876.2,45.834084,-110.934342,2359.4617,10846,230876.4,...,45.834085,-110.934341,2359.419323,1.890002e-07,1.259553e-07,0.193,NaN,NaN,NaN,101_0349
562,20.0,4.0,193.0,10863,230879.8,45.834149,-110.934222,2355.1260,10864,230880.0,...,45.834148,-110.934223,2355.163469,1.800002e-07,1.007642e-07,0.193,NaN,NaN,NaN,101_0349

In [333]:
# Calculate the new latitude, longitude, and elevation
calc['New_Lat'] = calc['Interpolated_Lat'] + calc['Lat_Diff_deg']
calc['New_Lon'] = calc['Interpolated_Lon'] + calc['Lon_Diff_deg']
calc['New_El'] = calc['Interpolated_El'] + calc['El_diff_m']
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-15.0,0.0,194.0,30,227429.0,45.835105,-110.932634,2316.6822,31,227429.2,...,45.835105,-110.932633,2316.740000,-1.350001e-07,0.000000e+00,0.194,45.835105,-110.932633,2316.934000,101_0347
1,18.0,-22.0,192.0,51,227433.2,45.835179,-110.932708,2307.0982,52,227433.4,...,45.835178,-110.932707,2307.251620,1.620002e-07,-5.542032e-07,0.192,45.835178,-110.932707,2307.443620,101_0347
2,17.0,-34.0,190.0,68,227436.6,45.835241,-110.932767,2298.7367,69,227436.8,...,45.835243,-110.932769,2298.505508,1.530002e-07,-8.564959e-07,0.190,45.835243,-110.932770,2298.695508,101_0347
3,22.0,-28.0,190.0,76,227438.2,45.835254,-110.932783,2296.7155,77,227438.4,...,45.835254,-110.932783,2296.700155,1.980002e-07,-7.053495e-07,0.190,45.835254,-110.932784,2296.890155,101_0347
4,3.0,2.0,194.0,99,227442.8,45.835272,-110.932801,2309.1618,100,227443.0,...,45.835272,-110.932801,2309.137040,2.700003e-08,5.038211e-08,0.194,45.835272,-110.932801,2309.331040,101_0347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,21.0,5.0,194.0,10792,230865.6,45.833893,-110.934699,2373.0726,10793,230865.8,...,45.833894,-110.934698,2373.053831,1.890002e-07,1.259553e-07,0.194,45.833894,-110.934698,2373.247831,101_0349
559,18.0,5.0,194.0,10810,230869.2,45.833958,-110.934577,2368.5360,10811,230869.4,...,45.833957,-110.934579,2368.605204,1.620002e-07,1.259553e-07,0.194,45.833957,-110.934579,2368.799204,101_0349
560,20.0,7.0,194.0,10827,230872.6,45.834019,-110.934464,2363.7748,10828,230872.8,...,45.834021,-110.934461,2363.660171,1.800002e-07,1.763374e-07,0.194,45.834021,-110.934461,2363.854171,101_0349
561,21.0,5.0,193.0,10845,230876.2,45.834084,-110.934342,2359.4617,10846,230876.4,...,45.834085,-110.934341,2359.419323,1.890002e-07,1.259553e-07,0.193,45.834085,-110.934341,2359.612323,101_0349
562,20.0,4.0,193.0,10863,230879.8,45.834149,-110.934222,2355.1260,10864,230880.0,...,45.834148,-110.934223,2355.163469,1.800002e-07,1.007642e-07,0.193,45.834149,-110.934223,2355.356469,101_0349

In [334]:
# Create an export dataframe that contains the new locational data
location_export = calc[['New_Lat','New_Lon','New_El']]
# Reset the index to create a column to hold image ID data
location_export = location_export.reset_index()
# Rename the index column with a descriptive name and then incremently increase the values to match the collected imagery
location_export = location_export.rename(columns = {'index':'FlightID'})
# location_export['PhotoID'] = RTKLIB['flight']
location_export['FlightID'] = calc['flight'].astype(int)
# location_export['PhotoID'] = location_export.index + location_export['PhotoID']
# View the data to make sure that it has been read in correctly.                                          
location_export

     FlightID    New_Lat     New_Lon       New_El
0     1010347  45.835105 -110.932633  2316.934000
1     1010347  45.835178 -110.932707  2307.443620
2     1010347  45.835243 -110.932770  2298.695508
3     1010347  45.835254 -110.932784  2296.890155
4     1010347  45.835272 -110.932801  2309.331040
..        ...        ...         ...          ...
558   1010349  45.833894 -110.934698  2373.247831
559   1010349  45.833957 -110.934579  2368.799204
560   1010349  45.834021 -110.934461  2363.854171
561   1010349  45.834085 -110.934341  2359.612323
562   1010349  45.834149 -110.934223  2355.356469

[563 rows x 4 columns]

### Now, we need to call the original photo EXIF information to adjust pitch, roll, and yaw.

In [335]:
# Import exiftoolhelper from the package exiftool
from exiftool import ExifToolHelper

In [368]:
# Get the unique value for the flights and add the folder name to a list
imagery_folders = RTKLIB['flight'].unique().tolist()
imagery_folders

['101_0347', '101_0348', '101_0349']

In [369]:
# Create an empty list to hold the imagery names
imagery_files = []
# for each path in the imagery folders of interest, read in the .jpgs
for path in imagery_folders:
    # Append the empty list to create a list of lists
    imagery_files.append(glob.glob(imagery_path + path + '/*.JPG'))

In [370]:
# Create a loop to turn the list of lists generated in the above code to a flat list
imagery_flat_list = []
# For each sublist in the above list of lists, append the item of that list to a singular list
for sublist in imagery_files:
    for item in sublist:
        imagery_flat_list.append(item)

In [371]:
# Create an empty list to hold the exif_data
exif_data = []
# With the ExifToolHelper, get tag information for each image
with ExifToolHelper() as et:
    # Specify what tag information you would like to capture
    for d in et.get_tags(imagery_flat_list, tags = ['Pitch','Roll','Yaw']):
        # append the list 
        exif_data.append(d)
        # Create a dataframe from the list values 
        exif_df = pd.DataFrame.from_dict(exif_data)

In [342]:
exif_df = exif_df.sort_values(by = 'SourceFile')
exif_df.reset_index(drop = True)
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw
99,Imagery/101_0347/101_0347_0001.JPG,-11.3,3.1,-34.599998
85,Imagery/101_0347/101_0347_0002.JPG,-1.9,2.6,-34.099998
76,Imagery/101_0347/101_0347_0003.JPG,-2.2,5.2,-36.900002
55,Imagery/101_0347/101_0347_0004.JPG,2.5,3.6,-36.200001
48,Imagery/101_0347/101_0347_0005.JPG,-9.0,-1.6,-52.900002
...,...,...,...,...
458,Imagery/101_0349/101_0349_0181.JPG,-5.5,3.6,52.099998
469,Imagery/101_0349/101_0349_0182.JPG,-5.8,3.1,50.900002
476,Imagery/101_0349/101_0349_0183.JPG,-4.8,3.3,52.000000
448,Imagery/101_0349/101_0349_0184.JPG,-5.6,4.1,52.400002
453,Imagery/101_0349/101_0349_0185.JPG,-5.6,4.1,52.000000

In [343]:
file_names = []
for f in exif_df['SourceFile']:
    name = os.path.basename(f)
    file_names.append(name)
exif_df['file_names'] = file_names
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw,file_names
99,Imagery/101_0347/101_0347_0001.JPG,-11.3,3.1,-34.599998,101_0347_0001.JPG
85,Imagery/101_0347/101_0347_0002.JPG,-1.9,2.6,-34.099998,101_0347_0002.JPG
76,Imagery/101_0347/101_0347_0003.JPG,-2.2,5.2,-36.900002,101_0347_0003.JPG
55,Imagery/101_0347/101_0347_0004.JPG,2.5,3.6,-36.200001,101_0347_0004.JPG
48,Imagery/101_0347/101_0347_0005.JPG,-9.0,-1.6,-52.900002,101_0347_0005.JPG
...,...,...,...,...,...
458,Imagery/101_0349/101_0349_0181.JPG,-5.5,3.6,52.099998,101_0349_0181.JPG
469,Imagery/101_0349/101_0349_0182.JPG,-5.8,3.1,50.900002,101_0349_0182.JPG
476,Imagery/101_0349/101_0349_0183.JPG,-4.8,3.3,52.000000,101_0349_0183.JPG
448,Imagery/101_0349/101_0349_0184.JPG,-5.6,4.1,52.400002,101_0349_0184.JPG
453,Imagery/101_0349/101_0349_0185.JPG,-5.6,4.1,52.000000,101_0349_0185.JPG

In [344]:
final_export = location_export.join(exif_df)

In [345]:
final_export = final_export.drop(columns = ['SourceFile','FlightID'])
final_export = final_export.rename(columns = {'MakerNotes:Pitch':'Pitch','MakerNotes:Roll':'Roll','MakerNotes:Yaw':'Yaw'})
final_export = final_export.set_index('file_names')

In [346]:
final_export = final_export.sort_values(by = 'file_names')
final_export

                     New_Lat     New_Lon       New_El  Pitch  Roll        Yaw
file_names
101_0347_0001.JPG  45.834126 -110.935527  2396.463874  -11.3   3.1 -34.599998
101_0347_0002.JPG  45.834002 -110.934697  2368.368963   -1.9   2.6 -34.099998
101_0347_0003.JPG  45.834518 -110.934864  2347.982867   -2.2   5.2 -36.900002
101_0347_0004.JPG  45.834597 -110.934238  2326.618516    2.5   3.6 -36.200001
101_0347_0005.JPG  45.834573 -110.933863  2325.892332   -9.0  -1.6 -52.900002
...                      ...         ...          ...    ...   ...        ...
101_0349_0181.JPG  45.835008 -110.933735  2289.521184   -5.5   3.6  52.099998
101_0349_0182.JPG  45.835248 -110.932813  2299.143337   -5.8   3.1  50.900002
101_0349_0183.JPG  45.834891 -110.933479  2300.231066   -4.8   3.3  52.000000
101_0349_0184.JPG  45.834433 -110.934808  2348.028434   -5.6   4.1  52.400002
101_0349_0185.JPG  45.834700 -110.934313  2315.430006   -5.6   4.1  52.000000

[563 rows x 6 columns]

## Final Step: Adjust the elevation data to account for differences in Snow Depth between flight dates

In [347]:
# Read in the .csv file with all of the RTK Heights for the season
rtk_height = pd.read_csv('/Users/f67f911/Desktop/HG_PPK/RTK_Base_Height.csv')
# View the file
rtk_height

       Date  Snow Depth (cm)  Height to RTK (cm)  Corrected Height
0  20220212               95                 220                40
1  20220218              140                 245                65
2  20220325              159                 253                73
3  20220505              170                 270                90
4  20220510              179                 261                81
5  20220517               82                 168               -12

In [348]:
# If the date you are processing for is in the rtk_height file, do the next block of code. 
# If not, skip to the next 
# Capture the value for the height diffences for the date of interest
diff_height = rtk_height[rtk_height['Date'] == int(date)]
# Call to make sure it was captured correctly
# If no data is displayed, it may be because no RTK Height information was captured that day
diff_height

       Date  Snow Depth (cm)  Height to RTK (cm)  Corrected Height
5  20220517               82                 168               -12

In [349]:
# Calculate the corrected elevation
corrected_el = (final_export['New_El'] - int(diff_height['Corrected Height'])/100)
# Populate the new elevation with the corrected el
final_export['New_El'] = corrected_el

In [311]:
# Run this code if no corrected height is provided
corrected_el = final_export['New_El']

In [350]:
# View the final export and if it looks correct, proceed to download!
final_export

                     New_Lat     New_Lon       New_El  Pitch  Roll        Yaw
file_names
101_0347_0001.JPG  45.834126 -110.935527  2396.583874  -11.3   3.1 -34.599998
101_0347_0002.JPG  45.834002 -110.934697  2368.488963   -1.9   2.6 -34.099998
101_0347_0003.JPG  45.834518 -110.934864  2348.102867   -2.2   5.2 -36.900002
101_0347_0004.JPG  45.834597 -110.934238  2326.738516    2.5   3.6 -36.200001
101_0347_0005.JPG  45.834573 -110.933863  2326.012332   -9.0  -1.6 -52.900002
...                      ...         ...          ...    ...   ...        ...
101_0349_0181.JPG  45.835008 -110.933735  2289.641184   -5.5   3.6  52.099998
101_0349_0182.JPG  45.835248 -110.932813  2299.263337   -5.8   3.1  50.900002
101_0349_0183.JPG  45.834891 -110.933479  2300.351066   -4.8   3.3  52.000000
101_0349_0184.JPG  45.834433 -110.934808  2348.148434   -5.6   4.1  52.400002
101_0349_0185.JPG  45.834700 -110.934313  2315.550006   -5.6   4.1  52.000000

[563 rows x 6 columns]

In [351]:
final_export.to_csv(date + 'Corrected_Imagery_Locs.csv')